.info {
  display: flex;
  justify-content: space-between;
  color: #000;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery__item {
  width: 24.2%;
  // height: 70vh;
  // height: 20%;
  // height: 40px;
}
.photo-card {
  // height: 150px;
}
body {
  box-sizing: border-box;
}
img {
  height: 30vh;
  overflow: hidden;
  object-fit: cover;
}
a {
  text-decoration: none;
  display: block;
}
form {
  background-color: #431793;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 10px;
}
input {
  margin-left: 40%;
}
.info-item {
  text-align: center;
}

.load-more {
  text-align: center;
  display: none;
}
button.visible {
  display: block;
}
